body {
    background-color:#eae165;
    border-style: dotted;
    border-color: black;

}

h1 {
    color: black;
    font-family: Avenir;
    font-size: 100px;
    font-weight: normal;
    text-align: center;
    text-shadow: 1px 1px 1px red;

}

/* body {
    background-image: url(Hello.jpg);
    background-attachment: fixed;
    background-size: cover;
} */

p {
    color: green;
}

#first {
    color: purple;
}

/* the above becomes redundant as only last one counts */

#first {
    color: purple;
}

#second {
    color: orange;
}

img {
    width: 500px;
}

.image {
    text-align: center;
}

/*If you have multiple images, you can id and make them different width */

/*with class, you dont need id*/

/* .tacos {
    color: yellow;
} */

p.tacos.pizza {
    color: yellow;
}

/* Only classes which have both tacos and pizza will be yellow now */

