/* COMMON STYLING ACROSS PAGES */

body {
    font-family: "MrsEavesRoman Regular";
    line-height: 1;
    letter-spacing: 2.5px;
    font-size: 12px;
    margin: 0;
    background-color: white;
    background-image: none;
    background-repeat: repeat;
    background-position: left top;
    color: #876d5f;
    text-align: center;
}

.header {
    background-image: url(Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    height: 150px;
}

.nav-link {
    font-family: "MrsEavesSmallCaps Regular";
    text-transform: uppercase;
    letter-spacing: 2.5px;
    text-align: center;
    color: #876d5f;
    line-height: 1;
    font-size: 12.5px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2.4rem;
    padding-left: 2.4rem;
}

/* introduced this to make "MENU" theme coloured, not sure how the toggler button for nav can be coloured --- NEED TO CHECK */
.my-toggler {
    border-color: #876d5f;
    color: #876d5f;
    font-family: "MrsEavesSmallCaps Regular";
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    font-size: 15.4px;
}

.end {
    background-image: url(divider.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center center;
    background-color: white;
    height: 30px;
}

.space {
    padding-bottom: 30px;
}

/* INDEX.HTML  */

.couplename {
    font-family: 'Lovers Quarrel', cursive;
    text-align: center;
    font-size: 80px;
    color: #876d5f;
    line-height: 1;
}

/* to make the couple names on top more responsive --- THIS DOESNT WORK */
@include media-breakpoint-up(sm) {
    .couplename {
      font-size: 20px;
    }
  }

.and {
    font-family: "MrsEavesSmallCaps Regular";
    text-transform: uppercase;
    letter-spacing: 2.5px;
    text-align: center;
    color: #876d5f;
    line-height: 1;
}

.couplephoto {
    display: block;
    width: 80%;
    box-sizing: border-box;
    border: 8px solid rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
    text-align: center; /* <---- THIS DOESNT WORK*/
}

.belowphoto {
    background-image: url(belowphoto.png);
    background-repeat: no-repeat;
    background-size: 8%;
    background-position: center center;
    background-color: white;
    height: 140px;
}

.story h1{
    font-family: "MrsEavesSmallCaps Regular";
    line-height: 1;
    letter-spacing: 2px;
    font-size: 20px;
}

.story p{
    font-family: 'Mr Bedfort', cursive;
    font-weight: 400;
    font-style: Normal;
    line-height: 2.5;
    text-transform: none;
    letter-spacing: normal;
    font-size: 16.8px;
    color: #876d5f;
}

/* COMMON ACROSS ALL SUBPAGES */

.subpageheader .belowphoto {
    display: inline-block;
    background-image: url(belowphoto.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}

.bride {
    font-family: 'Lovers Quarrel', cursive;
    text-align: center;
    font-size: 55px;
    color: #876d5f;
    line-height: 1;
}

/* to make the couple names on top more responsive --- THIS DOESNT WORK */
@include media-breakpoint-up(sm) {
    .bride {
      font-size: 15px;
    }
  }

.groom {
    font-family: 'Lovers Quarrel', cursive;
    text-align: center;
    font-size: 55px;
    color: #876d5f;
    line-height: 1;
}

/* to make the couple names on top more responsive --- THIS DOESNT WORK */
@include media-breakpoint-up(sm) {
    .groom {
      font-size: 15px;
    }
  }

/*ABOUTUS.HTML*/

.aboutusname {    
    font-family: 'Lovers Quarrel', cursive;
    text-align: center;
    font-size: 35px;
    color: #876d5f;
    line-height: 1;  
}

.aboutusmessage {
    font-family: 'Mr Bedfort', cursive;
    font-weight: 400;
    font-style: Normal;
    line-height: 1.5;
    text-transform: none;
    letter-spacing: normal;
    font-size: 16.8px;
    color: #876d5f;
    text-align: center;
    padding-bottom: 40px;
}

.aboutusphoto img {
    border: 8px solid rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
    display: block;
    text-align: center; /* <---- THIS DOESNT WORK*/
} 

.familyname {    
    font-family: 'Lovers Quarrel', cursive;
    text-align: center;
    font-size: 35px;
    color: #876d5f;
    line-height: 1;  
}

.familybio {
    font-family: 'Mr Bedfort', cursive;
    font-weight: 400;
    font-style: Normal;
    line-height: 1.5;
    text-transform: none;
    letter-spacing: normal;
    font-size: 16.8px;
    color: #876d5f;
    text-align: center;
    padding-bottom: 40px;
}

.familyrelation {
    font-family: "MrsEavesSmallCaps Regular";
    text-transform: uppercase;
    letter-spacing: 2.5px;
    text-align: center;
    color: #876d5f;
    line-height: 1;   
}

.familyphoto img {
    border: 8px solid rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
    display: block;
}

/* EVENTS.HTML */

.eventr {    
    font-family: 'Lovers Quarrel', cursive;
    text-align: center;
    font-size: 40px;
    color: #876d5f;
    line-height: 1;  
}

.dater {
    font-family: "MrsEavesSmallCaps Regular";
    text-transform: uppercase;
    letter-spacing: 2.5px;
    text-align: center;
    color: #876d5f;
    line-height: 1;   
}

.messager {
    font-family: 'Mr Bedfort', cursive;
    font-weight: 400;
    font-style: Normal;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    font-size: 16.8px;
    color: #876d5f;
    text-align: center;
    padding-bottom: 40px;
}

.eventl {    
    font-family: 'Lovers Quarrel', cursive;
    text-align: center;
    font-size: 40px;
    color: #876d5f;
    line-height: 1;  
}

.datel {
    font-family: "MrsEavesSmallCaps Regular";
    text-transform: uppercase;
    letter-spacing: 2.5px;
    text-align: center;
    color: #876d5f;
    line-height: 1;   
}

.messagel {
    font-family: 'Mr Bedfort', cursive;
    font-weight: 400;
    font-style: Normal;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    font-size: 16.8px;
    color: #876d5f;
    text-align: center;
    padding-bottom: 40px;
}

.timelinephoto img {
    border: 8px solid rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
    display: block;
    text-align: center; /* <---- THIS DOESNT WORK*/
}   

/* WEDDING.HTML */

.comingsoon {   
        font-family: 'Lovers Quarrel', cursive;
        text-align: center;
        font-size: 30px;
        color: #876d5f;
        line-height: 1; 
}

.btn-secondary {
    background-color: #876d5f;
    border-color: #876d5f;
}
