body {
    font-family: "MrsEavesRoman Regular";
    line-height: 1;
    letter-spacing: 2.5px;
    font-size: 12px;
    margin: 0;
    background-color: white;
    background-image: none;
    background-repeat: repeat;
    background-position: left top;
    color: #876d5f;
    text-align: center;
}


.header {
    background-image: url(Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    height: 150px;
}

.couplename {
    font-family: 'Lovers Quarrel', cursive;
    text-align: center;
    font-size: 80px;
    color: #876d5f;
    line-height: 1;

}

.and {
    font-family: "MrsEavesSmallCaps Regular";
    text-transform: uppercase;
    letter-spacing: 2.5px;
    text-align: center;
    color: #876d5f;
    line-height: 1;
}

.row .name {
    height: 220px;
    background-color: white;
}

.nav-link {
    font-family: "MrsEavesSmallCaps Regular";
    text-transform: uppercase;
    letter-spacing: 2.5px;
    text-align: center;
    color: #876d5f;
    line-height: 1;
    font-size: 12.5px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2.4rem;
    padding-left: 2.4rem;
}

.my-toggler {
    border-color: #876d5f;
    color: #876d5f;
    font-family: "MrsEavesSmallCaps Regular";
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    font-size: 15.4px;
}

.couplephoto {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    box-sizing: border-box;
    border: 8px solid rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
}


.belowphoto {
    background-image: url(belowphoto.png);
    background-repeat: no-repeat;
    background-size: 8%;
    background-position: center center;
    background-color: white;
    height: 140px;
}

.story h1{
    font-family: "MrsEavesSmallCaps Regular";
    line-height: 1;
    letter-spacing: 2px;
    font-size: 30px;
    padding-top: 20px;
}

.story p{
    font-family: 'Mr Bedfort', cursive;
    font-weight: 400;
    font-style: Normal;
    line-height: 2.5;
    text-transform: none;
    letter-spacing: normal;
    font-size: 14px;
    color: #876d5f;
}

.end {
    background-image: url(divider.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center center;
    background-color: white;
    height: 40px;
}


.subpageheader .belowphoto {
    display: inline-block;
    background-image: url(belowphoto.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 65px;
    width: 65px;
}

.subpageheader .bride {
    font-family: 'Lovers Quarrel', cursive;
    text-align: right;
    font-size: 60px;
    color: #876d5f;
    line-height: 1;
}

.subpageheader .groom {
    font-family: 'Lovers Quarrel', cursive;
    text-align: left;
    font-size: 60px;
    color: #876d5f;
    line-height: 1;
}


.event {    
    font-family: 'Lovers Quarrel', cursive;
    text-align: left;
    font-size: 60px;
    color: #876d5f;
    line-height: 1;
    width: 400px;   
    padding-left: 10px;
}

.date {
    font-family: "MrsEavesSmallCaps Regular";
    text-transform: uppercase;
    letter-spacing: 2.5px;
    text-align: left;
    color: #876d5f;
    line-height: 1;   
    width: 400px;
    padding-left: 10px;
}

.message {
    font-family: 'Mr Bedfort', cursive;
    font-weight: 400;
    font-style: Normal;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    font-size: 16.8px;
    color: #876d5f;
    text-align: left;
    width: 400px;
    padding-left: 10px;
    padding-bottom: 20px;
}

.timelinephoto img {
    width: 400px;
    height: 250px;
    border: 8px solid rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
    display: block;
}   

.space {
    padding-bottom: 50px;
}