body {
    font-family: "MrsEavesRoman Regular";
    line-height: 1;
    font-size: 12px;
    margin: 0;
    background-color: white;
    background-image: none;
    background-repeat: repeat;
    background-position: left top;
    color: #876d5f;
}


.jumbotronimg {
    background-image: url(Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    height: 150px;
}

.couplename {
    font-family: 'Lovers Quarrel', cursive;
    text-align: center;
    font-size: 80px;
    color: #876d5f;
    line-height: 1;

}

.and {
    font-family: "MrsEavesSmallCaps Regular";
    text-transform: uppercase;
    letter-spacing: 2.5px;
    text-align: center;
    color: #876d5f;
    line-height: 1;
}

.row .name {
    height: 220px;
    background-color: white;
}

.nav-link {
    font-family: "MrsEavesSmallCaps Regular";
    text-transform: uppercase;
    letter-spacing: 2.5px;
    text-align: center;
    color: #876d5f;
    line-height: 1;
    font-size: 12.5px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.3rem;
    padding-left: 1.3rem;
}

.couplephoto {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    box-sizing: border-box;
    border: 8px solid rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
}